name: Build and Push Docker image

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: bearyhome
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        run: |
          docker build . -t bearyhome/go-39-metoddostavkipril:latest -t bearyhome/go-39-metoddostavkipril:master
          docker push bearyhome/go-39-metoddostavkipril:latest
          docker push bearyhome/go-39-metoddostavkipril:master